@font-face {
    font-family: 'Faberge-Regular';
    src: url('../fonts/Faberge-Regular.otf') format('truetype'); /* Проверьте путь */
}

/* Общие стили */
body {
    font-family: 'Faberge-Regular', sans-serif;
    background: linear-gradient(to right, rgba(255, 87, 34, 0.9), rgba(76, 175, 80, 0.9), rgba(0, 120, 211, 0.9), rgba(255, 235, 59, 0.9)); /* Градиент: красный, зеленый, синий, желтый */
    color: #333; /* Темный текст */
    margin: 0;
    padding: 0;
}

/* Стили для хедера */
header {
    background-color: rgba(255, 255, 255, 0.8); /* Полупрозрачный белый фон для контраста */
    color: #333; /* Темный текст */
    padding: 40px 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

header .logo {
    width: 60px; /* Размер логотипа */
    height: auto; /* Автоматическая высота */
    margin-right: 15px; /* Отступ справа от логотипа */
    margin-bottom: 30px;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

/* Навигация */
nav ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333; /* Темный текст */
    font-size: 1.2rem;
    padding: 5px 10px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease;
}

nav ul li a:hover {
    border-bottom: 2px solid #0077d5; /* Желтая подчеркивающая линия при наведении */
}

.nav-divider {
    border: 0;
    height: 1px;
    background: #0078d7; /* Синий цвет линии */
    margin: 20px 0; /* Отступы сверху и снизу */
}

/* Стили для основного контента */
main {
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* Полупрозрачный белый фон для контента */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

main h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #0078d7; /* Синий заголовок */
}

main p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

main ul {
    list-style: none;
    padding: 0;
    margin: 20px auto;
    text-align: center;
}

main ul li {
    display: block;
    font-size: 1.1rem;
    margin: 10px 0;
    padding: 10px;
    background-color: #dae0e0; /* Желтый фон для списка */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Стили для футера */
footer {
    background-color: rgba(255, 255, 255, 0.8); /* Полупрозрачный белый фон */
    color: #333; /* Темный текст */
    padding: 15px 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 1rem;
}

/* Мобильные стили */
@media (max-width: 768px) {
    main {
        margin: 20px 10px;
        padding: 15px;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }
}
